@import './partial_css/inputs';
@import './partial_css/pagination';
@import './partial_css/table';

.container{
    max-width: 1000px;
    margin: 50px auto;
}

.hidden{
    visibility: hidden;
}

.loadingGif{
    position: absolute;
    top:50%;
    left:50%;
    width: 100px;
    height: 100px;
    margin-top: -50px; 
    margin-left: -50px; 
}
